.letter-card{
    width: 90px;
    height: 80px;
    box-shadow: 10px 10px green;
    padding: 15px;
    background-color: #fff8dc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letter-card1 {
  width: 90px;
  height: 80px;
  box-shadow: 10px 10px green;
  padding: 20px;
  background-color: #fff8dc;
  border: 3px solid green;
  border-radius: 10px;
      display: flex;
    justify-content: center;
    align-items: center;
}

.twoLetter{
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.letter-card:hover {
    transform: scale(1.05);
    transition: .3s;
  }
  .letter-card h1 {
    font-size: 50px;
    text-align: center;
    color: #ff6347;
  }
.letter-card span {
    font-size: 40px;
    margin-top: 4px;
    color: #4682b4;
  }
  .letter-card1 h1 {
    font-size: 60px;
    text-align: center;
    color: #ff6347;
  }
.letter-card1 span {
    font-size: 40px;
    margin-top: 4px;
    color: #4682b4;
  }
@media (max-width: 480px) {
  .letter-card, .letter-card1 {
    width: 65px;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .letter-card h1, .letter-card1 h1 {
    font-size: 25px;
  }
  .letter-card span, .letter-card1 span {
    font-size: 22px;
  }
.twoLetter {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap: 4px;
}


  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
