.nPracticePage{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; /* добавь это */
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://img.freepik.com/free-vector/blank-nature-park-landscape-scene-daytime_1308-62625.jpg?t=st=1746405079~exp=1746408679~hmac=ca43e6ac6e4c523d9e27770cd78179d3629b683acc0090a2785acf9e90b8ad91&w=1380);
}
.nTaskTitle{
  padding: 50px;
  height: 50px;
  font-family: 'Comic Neue', cursive;
  font-size: 40px;
  font-weight: bold;
  color:blue;
}
.nCards{
  margin-top: 100px;
  /* background-color: green; */
  width: 70%;
  padding: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}
.nCard{
  width: 150px;
  margin-bottom: 50px;
  border: 20px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  font-family: 'Comic Neue', cursive;
  font-size: 100px;
  font-weight: bold;
  height: 150px;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
}
.startNumPracticeClass{
  background-color: #0000ff;
  cursor: pointer;
  color: yellow;
  border: 5px solid yellow;
  border-radius: 20px;
  font-family: 'Comic Neue', cursive;
  font-size: 30px;
}